.logo {
  width: 150px;
  height: auto !important;
  position: relative;
}

.navigation {
  width: 100%;
  padding: 0 16px;
  box-shadow: rgb(2 1 1 / 10%) 0px 5px 20px -5px;
}
.navigationTransparent {
  width: 100%;
  padding: 0 16px;
  height: 80px;
}

.hostLogoContainer {
  width: 150px; 
}
.hostLogo {
  width: 100% !important;
  height: auto !important;
  position: relative !important;
}
