.hostNavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hostLogoContainer {
  width: 150px;
  padding: 16px 8px;
}
.hostLogo {
  width: 100% !important;
  height: auto !important;
  position: relative !important;
}
.ngagedLogoContainer {
  width: 150px;
  padding: 16px 8px;
}